<footer class=" bg-dark text-white mt-5 p-5">
    <div class="container">
        <p class=" lead text-center">Contact us at-></p>
        <p class=" lead text-center">Phone Number - 0719101407</p>
        <p class=" lead text-center">Email- martinmambo950@gmail.com</p>
        <a class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
        <a class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
        <a class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>



    </div>

</footer>